.header-table {
	height: 300px;
}
.header-table thead th { 
	position: sticky; 
	top: 0; 
	z-index: 1;
	background-color: grey;
}

.vertical-slider{
	width: 100px;
	transform: rotate(90deg)
}
textarea {
	width: 100%;
}

.conversation {
	max-height: 500px;
}

.slider-out {
	font-style: italic;
	border-style: solid;
	border-radius: 5px;
	background: lightgrey;
	padding: 3px;
	width: 5em
}
